/// Module export mixin
/// This mixin helps creating our secondary body texts making sure a module is imported once and only once.
/// @access public
/// @param {String} $color - color the font should take
@mixin body-2($color: var(--text-color)) {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  color: $color;
}
