@import '@/assets/styles/settings/variables';
@import '@/assets/styles/tools/mixins/import_once';

@include import_once('objects/container') {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: $breakpoint-medium;
    padding: 2rem 1rem;
    margin: 0 auto;
  }
}
